# wiastandards.com
RewriteEngine Off

# UTF-8 인코딩 설정
AddDefaultCharset UTF-8
AddCharset UTF-8 .md .json .txt .html

<FilesMatch "\.md$">
    Header set Content-Type "text/markdown; charset=utf-8"
</FilesMatch>

<FilesMatch "\.json$">
    Header set Content-Type "application/json; charset=utf-8"
</FilesMatch>
